aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
alembic==1.18.4
anndata==0.12.10
anyio==4.13.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
array-api-compat==1.14.0
arrow==1.4.0
attrs==26.1.0
backports.zstd==1.3.0
beautifulsoup4==4.14.3
bleach==6.3.0
bokeh==3.9.0
branca==0.8.2
Brotli==1.2.0
cached-property==1.5.2
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
cloudpickle==3.1.2
colorcet==3.1.0
colorlog==6.10.1
confluent-kafka==2.14.0
contourpy==1.3.3
cucim==26.4.0
cuda-bindings==12.9.6
cuda-core==0.7.0
cuda-pathfinder==1.5.2
cuda-python==12.9.6
cudf==26.4.0
cudf_kafka==26.4.0
cudf-polars==26.4.0
cugraph==26.4.0
cuml==26.4.0
cupy==14.0.1
custreamz==26.4.0
cuvs==26.4.0
cuxfilter==26.4.0
cycler==0.12.1
cytoolz==1.1.0
dask==2026.1.1
dask-cuda==26.4.0
dask-cudf==26.4.0
datashader==0.19.0
defusedxml==0.7.1
distributed==2026.1.1
distributed-ucxx==0.49.0
donfig==0.8.1.post1
exceptiongroup==1.3.1
fastjsonschema==2.21.2
folium==0.20.0
fonttools==4.62.0
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2026.3.0
geopandas==1.1.3
google-crc32c==1.8.0
greenlet==3.4.0
h2==4.3.0
h5py==3.16.0
holoviews==1.22.1
hpack==4.1.0
hyperframe==6.1.0
idna==3.11
imagecodecs==2026.3.6
imageio==2.37.0
importlib_metadata==8.8.0
isoduration==20.11.0
Jinja2==3.1.6
joblib==1.5.3
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
jupyter-events==0.12.0
jupyter_server==2.17.0
jupyter_server_proxy==4.5.0
jupyter_server_terminals==0.5.4
jupyterlab_pygments==0.3.0
kiwisolver==1.5.0
lark==1.3.1
lazy-loader==0.5
legacy-api-wrap==1.5
linkify-it-py==2.1.0
llvmlite==0.46.0
locket==1.0.0
lz4==4.4.5
Mako==1.3.10
mapclassify==2.10.0
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.2.0
msgpack==1.1.2
multidict==6.7.1
multipledispatch==0.6.0
munkres==1.1.4
narwhals==2.19.0
natsort==8.4.0
nbclient==0.10.4
nbconvert==7.17.1
nbformat==5.10.4
networkx==3.6.1
numba==0.64.0
numba-cuda==0.28.2
numcodecs==0.16.5
numpy==2.4.3
nvidia-ml-py==13.595.45
nvtx==0.2.15
nx-cugraph==26.4.0
optuna==4.8.0
overrides==7.7.0
packaging==26.0
pandas==2.3.3
pandocfilters==1.5.0
panel==1.8.10
param==2.3.3
partd==1.4.2
pillow==12.2.0
pip==26.0.1
platformdirs==4.9.6
polars==1.38.1
polars-runtime-32==1.38.1
prometheus_client==0.25.0
propcache==0.3.1
psutil==7.2.2
ptyprocess==0.7.0
pyarrow==23.0.1
pycparser==2.22
pyct==0.6.0
Pygments==2.20.0
pylibcudf==26.4.0
pylibcugraph==26.4.0
pylibraft==26.4.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2026.1.post1
pyviz_comms==3.0.6
PyYAML==6.0.3
pyzmq==27.1.0
raft-dask==26.4.0
rapids-dask-dependency==26.4.0a0
referencing==0.37.0
requests==2.33.1
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==15.0.0
rmm==26.4.0
rpds-py==0.30.0
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.16.3
Send2Trash==2.1.0
setuptools==82.0.1
shapely==2.1.2
simpervisor==1.0.0
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.8.3
SQLAlchemy==2.0.49
streamz==0.6.6
tblib==3.2.2
terminado==0.18.1
threadpoolctl==3.6.0
tifffile==2026.4.11
tinycss2==1.4.0
toolz==1.1.0
tornado==6.5.5
tqdm==4.67.3
traitlets==5.14.3
treelite==4.7.0
typing_extensions==4.15.0
typing_utils==0.1.0
tzdata==2026.1
uc-micro-py==2.0.0
ucxx==0.49.0
uri-template==1.3.0
urllib3==2.6.3
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
xarray==2026.4.0
xgboost==3.2.0
xyzservices==2026.3.0
yarl==1.23.0
zarr==3.1.6
zict==3.0.0
zipp==3.23.1
